<%= form_for :article, url: articles_path do |f| %>
    <fieldset class="form-group">
      <%= f.text_area :body, placeholder: 'What are you thinking right meow?', class: 'form-control', style: 'resize:none' %>
    </fieldset>

    <div class="actions">
      <%= f.submit 'Post', class: 'btn btn-primary post-btn' %>
    </div>
<% end %>

<div class="article-container">
  <%= render partial: 'article', collection: @articles %>
</div>