<nav class="navbar navbar-fixed-top navbar-light bg-primary">
  <div class="container">
    <div class="navbar-control row">
      <%= link_to 'Catbook', root_path, class: 'navbar-brand hidden-sm-up' %>
      <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#nav-content">☰</button>
    </div>

    <div class="collapse navbar-toggleable-xs" id="nav-content">
      <%= link_to 'Catbook', root_path, class: 'navbar-brand hidden-sm-down' %>

      <ul class="nav navbar-nav pull-md-right">
        <%= render partial: 'shared/logged_in_nav' if user_signed_in? %>
        <%= render partial: 'shared/logged_out_nav' unless user_signed_in? %>
      </ul>
    </div>
  </div>
</nav>