@import "bootstrap";

body {
  background-color: #ededed;
  padding-top: 70px;
}

.btn-description {
  width: 100%;
  display: block;
  text-align: center;
}

.spacer {
  margin: 2em 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}