@import "bootstrap";

body {
  background-color: #ededed;
  padding-top: 70px;
}

.btn-description {
  width: 100%;
  display: block;
  text-align: center;
}

.card-body {
  margin: 2em 0;
}

.navbar-control.row {
  margin-left: 0;
  margin-right: 0;
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: rgba(255, 255, 255, 0.75);

      &:focus, &:hover {
        color: #fff;
      }
    }
  }

  .navbar-brand {
    color: #fff;

    &:focus, &:hover {
      color: #fff;
    }
  }
}

.user-detail div {
  width:inherit;
  padding-left:0;
  padding-right: 10px;
  float: left;

  .card-title {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 720px;
  }
}